<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conor McGregor</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./about">About</a></li>
        <li><a href="./works">Works</a></li>
        <li><a href="./gallery">Gallery</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="text-container">
        <h1>Conor McGregor</h1>
        <p>
          Conor Anthony McGregor, nacido el 14 de julio de 1988 es un artista
          marcial mixto profesional irlandés. Ha sido doble campeón del peso
          pluma y del peso ligero de la Ultimate Fighting Championship (UFC) y
          también ha sido campeón del peso pluma y del peso ligero de la Cage
          Warriors. Desde el 19 de julio de 2021, ocupa el puesto número 9 en la
          clasificación de peso ligero de la UFC. En su debut en el boxeo
          profesional, fue derrotado por Floyd Mayweather Jr. Es la mayor
          atracción de pago por visión (PPV) en la historia de las MMA, habiendo
          encabezado cinco de los seis eventos de pago por visión más vendidos
          de la UFC. Su combate titular con Khabib Nurmagomedov en el UFC 229
          atrajo 2,4 millones de compras PPV, la mayor cantidad para un evento
          de MMA. Su combate de boxeo con Mayweather atrajo 4,3 millones de
          compras PPV en Norteamérica, la segunda mayor cantidad en la historia
          de los deportes de combate. McGregor fue clasificado como el atleta
          mejor pagado del mundo por Forbes en 2021, con unos ingresos
          declarados de 180 millones de dólares. También apareció en la lista en
          2018, cuando ocupó el cuarto lugar, con unos ingresos declarados de 99
          millones de dólares.
        </p>
        <img src="./photo.jpg" alt="" srcset="" id="homeImg"/>
      </div>
    </div>
  </body>
</html>
