<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./about">About</a></li>
        <li><a href="./works">Works</a></li>
        <li><a href="./gallery">Gallery</a></li>
      </ul>
    </div>
    <div class="container" id="works">
      <div class="text-container">
      <h1>Palmares</h1>
      <section>
        <h2>Campeonatos y logros</h2>
        <ul>
          <li><h3>Fighting Championship</h3> </li>
          <li>Campeón de Peso Pluma (una vez)</li>
          <li>Campeón de Peso Ligero (una vez)</li>
          <li>Campeón Interino de Peso Pluma (una vez)</li>
          <li>
            Primer peleador en ser campeón de dos divisiones simultáneamente en
            la UFC
          </li>
          <li>Actuación de la Noche (siete veces)</li>
          <li>KO de la Noche (una vez)</li>
          <li>Pelea de la Noche (dos veces)</li>
          <li>
            Finalización más rápida en un combate por el título (0:13) vs. José
            Aldo en UFC 194
          </li>
          <li>Mayor número de nócauts en la división de peso pluma (seis)</li>
          <li>Portada del videojuego EA Sports UFC 2 (con Ronda Rousey)</li>
          <li>Portada del videojuego EA Sports UFC 3</li>
          <li><h3>Cage Warriors Fighting Championship</h3></li>
          <li>Campeón de peso ligero (una vez)</li>
          <li>Campeón de peso pluma (una vez)</li>
          <li>Único campeón de dos divisiones simultáneamente en Cage Warriors</li>
          <li><h3>World MMA Awards</h3></li>
          <li>Luchador Internacional del Año (2014)</li>
          <li>Luchador Internacional del Año (2015)</li>
          <li>Luchador del Año (2015)</li>
          <li><h3>Severe MMA</h3></li>
          <li> Irlandés del Año (2014)</li>
          <li> Irlandés del Año (2015)</li>
          <li> del Año (2015)</li>
         <li><h3>Sherdog</h3></li> 
          <li>Luchador más Progresado del Año (2014)</li>
          <li>Evento del Año (2015, UFC 194)</li>
          <li>KO del Año (2015) vs. José Aldo en UFC 19481</li>
          <li>Luchador del Año (2015)​</li>
          <li><h3>TheMMACommunity</h3></li>
          <li>Luchador Masculino del Año (2015)</li>
          <li><h3>Combat Press</h3></li>
          <li>Luchador de progreso más rápido del Año (2014)</li>
          <li>Evento del Año (2015, UFC 189)</li>
          <li>Luchador del Año (2015)</li>
          <li><h3>Bleacher Report</h3></li>
          <li>Luchador del Año (2015)</li>
          <li><h3>MMA Mania</h3></li>
          <li>Evento del Año (2015, UFC 189)</li>
          <li>Luchador del Año (2015)</li>
          <li><h3>MMA Fighting</h3></li>
          <li>Evento del Año (2015, UFC 189)</li>
          <li>Luchador del Año (2015)</li>
          <li><h3>MMA Junkie</h3> </li>
          <li>KO del Mes (diciembre de 2015)</li>
          <li>Luchador del Año (2015)</li>
          <li><h3>MMAInsider.net</h3></li>
          <li>Revelación en UFC (2013)</li>
          <li><h3>Wrestling Observer Newsletter</h3></li>
          <li>Mejor en Entrevistas (2015)</li>
          <li>Feudo del Año (2015)</li>
          <li>Luchador más Destacado (2015)</li>
        </ul>
      </section>
    </div>
    </div>
  </body>
</html>
