body{
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-image: url("./flag.jpg");
}
.text-container{
    margin: 5% 5%;
}
.container{
    margin-top: 50px;
    width: 90%;
    border-radius: 25px;
    background-color: rgb(133, 130, 130);
    color:white;
    z-index: 3;
}
.menu{
    position: fixed;
    top: 0;
    width:50%;
    z-index: 0;

}
.menu ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    text-decoration: none;
    list-style: none;    
}
.menu ul li a{
    text-decoration: none;
}
.menu ul li:active, .menu ul li:visited{
    color:black;
    text-decoration: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

/* HOME */

#homeImg{
    width: 300px;
    border-radius: 15px;
}
.text-container {
    font-size: 20px;
}
.text-container h1{
    text-align: center;
}

/* GALLERY */
.grid-gallery{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.galleryImgClass{
    width: 500px;
    height: auto;
    opacity: 0.9;    
    
    margin-bottom: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.75);
}
.galleryImgClass:hover{
    opacity: 1;    
    animation: pulse 1s infinite;
    /* -webkit-transform: rotate(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotate(180deg);
    transform-style: preserve-3d; */
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
    /* .imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;} */
    
/* WORKS */
